@charset "UTF-8";

body, p {
	margin: auto;
	padding: auto;
}

div.main {
	text-align: center;
}

p.header {
	border: 1px solid #000;
	padding: 10px 0px 10px 0px;
	background-color: rgb(250, 191, 143);
}

p.paragraph {
	padding: 150px 0px 60px 20px;
	text-align: left;
}


span.title {
}

span.regist-btn, span.login-btn {
	padding: 2px;
	border: 2px solid #000;
}

p.support-btn {
	margin: 4px 20px 4px 20px;
	border: 2px solid #000;
	padding: 5px 0px 5px 0px;
}

p.top {
	margin: 20px 60px 20px 200px;
	
	padding: 5px 0px 5px 0px;
}

div.footer {
	border: 1px solid #000;
	background-color: rgb(250, 191, 143);
}
