@charset "UTF-8"; * {
    margin: auto;
    padding: auto;
}

a {
    text-decoration: none;
}

header.header {
    position: fixed;
    top: 0;
    left 0;
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
    padding-bottom: 25px;
    background-color: rgb(250, 191, 143);
}

header.header h1, header.header nav {
    display: inline;
}

header.header h1 {
    font-size: 1em;
    margin-left: 5%;
    float: left;
}

header.header nav {
    margin-right: 5%;
    float: right;
}

article.contents {
    margin: 5%;
    text-align: center;
}

article.contents section h1 {
    font-size: 1em;
}

article.contents section form {
    margin-top: 10%;
}

article.contents section p {
    font-size: 1em;
    margin: 40px;
}

form section h2 {
    font-size: 1em;
}

/* ラジオボタンは非表示にする */
input[type="radio"] {
    display: none;
}

/* チェックされた時のスタイル */
input[type="radio"]:checked + label {
    background: rgb(110, 110, 255);
    color: rgb(255, 255, 255);
}

/* lableのスタイル */
label {
    border: 2px solid #ddd;
    padding: 20px;
}

input[type="submit"] {
    border: 2px solid #ddd;
    background-color: rgb(255 ,255 ,255);
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

input[type="submit"]:active {
    background: rgb(110, 110, 110);
    color: rgb(255, 255, 255);
}

footer {
    position: fixed;  
    bottom: 0;  
    left: 0;  
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 10px;
    background-color: rgb(250, 191, 143);
    text-align: center;
}

a.support-btn {
    display: block;
    border: 2px solid #000;
    padding: 5px 0px 5px 0px;
}
